:root {
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark; /* บอก Browser ว่าเป็น Dark Mode */
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
  padding: 0;
  display: block; /* แก้จาก flex เป็น block เพื่อให้ container ทำงาน */
  place-items: unset; /* ยกเลิกการบังคับกึ่งกลางแบบเก่า */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left; /* ให้เนื้อหาข้างในจัดเอง */
}